.Signup{
  background-color: lightblue;
  color: whitesmoke;
  width: 80px;
  border-radius: 15px;
  border-width: 0px;
  padding: 10px;
  margin-right: 10px;
}

.Login{
  background-color: lightblue;
  color: whitesmoke;
  border-radius: 15px;
  width: 80px;
  border-width: 0px;
  padding: 10px;
  margin-right: 10px;
}